@model IEnumerable<Kodlarim.Models.Comment>

@{
    ViewBag.Title = "Kommentariyalar";
}

<p>
    @Html.ActionLink("+Yeni", "Create")
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                @*<h3 class="box-title">Hover Data Table</h3>*@
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Post.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Text)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostedDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EditedDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Post.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Text)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostedDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EditedDateTime)
                                </td>
                                <td>
                                    @if (item.Status.Id == 1)
                                    {
                                        <span class="label label-success">@item.Status.Name</span>
                                    }
                                    else if (item.Status.Id == 2)
                                    {
                                        <span class="label label-danger">@item.Status.Name</span>
                                    }
                                    else if (item.Status.Id == 3 || item.Status.Id == 4)
                                    {
                                        <span class="label label-warning">@item.Status.Name</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Redaktə", "Edit", new { id = item.CommentId }) |
                                    @Html.ActionLink("Baxış", "Details", new { id = item.CommentId }) |
                                    @Html.ActionLink("Sil", "Delete", new { id = item.CommentId })
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Post.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Text)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostedDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EditedDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
